@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hover:hover{
  @apply bg-neutral-800
}

.button{
  @apply w-28 h-7 bg-black rounded-md text-white font-medium text-sm px-2
}